*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 420px;
    background: #fcf1dd;
    color: #c57b92;
    padding: 30px 40px;
    border:2px solid #c57b92;
    border-radius: 10px

}

.wrapper h1{
    /* opacity: 0; */
    text-transform: capitalize;
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 10px;
}

.wrapper p{
    text-align: center;

}

.wrapper h3{
    text-align: center;
    margin-top: 40px;
    margin-bottom:10px;
    font-size: 25px;
}

body {
    font-family: 'Popins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-fond-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('assets/BkgrTest.PNG'); /* Path to your image */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */

    
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    
    background-size: cover;
    font-family: 'roboto', sans-serif;
}

#front-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Adds space between buttons/inputs */
}

button {
    
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #c57b92;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
}



button, input {
    padding: 10px;
    width: 100%; /* Set a fixed width for buttons and inputs */
}

.input-box input::placeholder{
    color: #e6c2c0; 
}

#submit-mainpage{
    margin-top: 25px;
    
}