.popup-trigger {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .popup {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

  }

  
  
  .popup-inner {
    background-image: url('../../assets/dictionary-assets/DictionaryBaseFull.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 880px;
    height: 630px;
    display: flex;
    margin:0;
   
    align-items: center;
    justify-content: center;
    
    
  }

  .popup-page-left {
    
    position:relative;
    background-image: url('../../assets/dictionary-assets/DictPageLeft.PNG');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
   
    width: 48%;
    height: 86%;
    display: flex;
    justify-self: center;
    align-self: center;
    margin-left: 1.5%;   
    margin-right: 1%;
    margin-top: 5%;
    margin-bottom: 5%;
    

    padding-left: 2.3%;

    
  }
  .popup-page-right {
    position:relative;
    background-image: url('../../assets/dictionary-assets/DictPageRight.PNG');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;

    width: 48%;
    height: 86%;
    display: flex;
    justify-self: center;
    align-self: center;

    margin-left: 1%;   
    margin-right: 1.5%;
    margin-top: 5%;
    margin-bottom: 5%;

    padding-right: 2.3%;

  }

       

  #dictionary-menu-btn{
    width:15%;
    height:10px;
    transform: scale(0.15); 
    border: none;  
    background-color: transparent; 
    padding: 0; 
  }

#dictionary-menu-btn img:hover {
  transform: scale(1.1); 
}

  #dictionary-close-btn{
    width:15%;
    height:10px;
    transform: scale(0.115); 
    border: none;  
    background-color: transparent; 
    padding: 0; 
} 


#dictionary-close-btn img:hover {
  transform: scale(1.1); 
}


#next-page-btn{
  position: relative;
  width: 189.5%;
  height: 980px;
  transform: scale(0.05); 
  border: none;  
  background-color: transparent; 
  padding: 0; 

} 

#prvs-page-btn{
  position: relative;
  width: 10%;
  height: 980px;
  transform: scale(0.05); 
  border: none;  
  background-color: transparent; 
  padding: 0; 

} 





 
.button-row{
    position:absolute;
    
    width: 90%;
    height: 5%;
    display:flex;
    align-self:flex-start;
    justify-self: flex-start;
    justify-content: flex-start;
    align-items: start;
}
 

 

.welcome-user {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  left: 20px; /* Adjust the left position as needed */
  transform: scale(1);
}


.learned-words {
  position: absolute;
  top: 70px; /* Adjust the top position as needed */
  left: 20px; /* Adjust the left position as needed */
  transform: scale(1);
}