.popup-trigger {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .popup {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup-pages {
    
    position:relative;
    background-image: url('../../assets/dictionary-assets/Pagesfull.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 96%;
    height: 86%;
    display: flex;
    justify-self: center;
    align-self: center;
       
}
  #dictionary-menu-btn{
    width:15%;
    height:10px;
    transform: scale(0.15); 
    border: none;  
    background-color: transparent; 
    padding: 0; 
  }


  #dictionary-close-btn{
    width:15%;
    height:10px;
    transform: scale(0.115); 
    border: none;  
    background-color: transparent; 
    padding: 0; 
} 

#next-page-btn{
  position: absolute;
  width: 189.5%;
  height: 980px;
  transform: scale(0.05); 
  border: none;  
  background-color: transparent; 
  padding: 0; 

} 

#prvs-page-btn{
  position: absolute;
  width: 10%;
  height: 980px;
  transform: scale(0.05); 
  border: none;  
  background-color: transparent; 
  padding: 0; 

} 




  
  .popup-inner {
    background-image: url('../../assets/dictionary-assets/DictionaryBaseFull.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 880px;
    height: 630px;
    display: flex;
    margin:0;
   
    align-items: center;
    justify-content: center;

  }

 
.button-row{
    position:absolute;
    
    width: 90%;
    height: 5%;
    display:flex;
    align-self:flex-start;
    justify-self: flex-start;
    justify-content: flex-start;
    align-items: start;
}
 

 
