body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('asset/logo.PNG'); /* Path to your image */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */

    
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    
    background-size: cover;
    font-family: 'roboto', sans-serif;
}

#front-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Adds space between buttons/inputs */
}

#login-button, #register-button {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500%; 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px; 
}




button, input {
    padding: 10px;
    width: 200px; /* Set a fixed width for buttons and inputs */
}