.after-quiz-page {
    text-align: center;
    padding: 20px;
    position: relative;
}

.after-quiz-page #goToMapButton {
    left: -20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

.page-content {
    position: relative;
    display: inline-block;
}

.page-image {
    width: 65%;
    height: auto;
}


.score-header {

    position: absolute;
    top: 10%;
    width: 100%;
    border-radius: 10px;
    text-decoration: underline;

}


.score-container {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

.score-container h2 {
    font-size: 25px; /* Adjust this value to make the text smaller */
}


.SpriteAFTER {
    
    z-index:3;
    display:flex;
    position:absolute;
    width: 600px; /* Width of each frame */
    height: 600px; /* Height of each frame */
    transform:scale(.5);
    bottom: -50px;
    left: -400px;
    overflow: hidden;
}