.word-button.selected {
  border: 3px solid rgb(0, 0, 0); /* Highlight color for selected English word */
}

.word-button.selected-translation {
  border: 3px solid green; /* Highlight color for selected translated word */
}

/* Existing styles */

.match-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.matchCONTENT {
  background-color: antiquewhite;
  align-self: center;
  border: solid;
  border-radius: 5px;
  border-color: rgb(145, 112, 96);
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 3%;
}

.word-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  column-gap: 5%;
}

.word-button {
  height: 50px;
  width: 200px;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.match-message-display {
  position: absolute;
  top: 270px;
  left: 60%;
  transform: translateX(-50%);
  background-color: #ebe35ccc;
  padding: 10px;
  border-radius: 5px;
  font-size: 30px;
}

.instruction-box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ebe35ccc;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  color: black;
  border: 1px solid #ccc;
}

.message-display-match {
  position: absolute;
  top: 10px; /* Adjust the distance from the top as needed */
  right: 10px; /* Adjust the distance from the right as needed */
  background-color: antiquewhite;
  padding: 10px; /* Add padding for better readability */
  border: 1px solid #ccc; /* Optional: Add a border for better visibility */
  border-radius: 5px; /* Optional: Add rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
  z-index: 1000; /* Ensure it is above other elements */
  font-family: Arial, sans-serif; /* Optional: Set a font family */
  font-size: 50px; /* Optional: Set a font size */
  color: #333; /* Optional: Set the text color */
}
