.mc-container{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .mcCONTENT{
    background-image: url('../../assets/artist-assets/Contentbox.png');
    background-size:cover;
    position:absolute;
    width:30%;
    height: 75%;
    top:5%;
    display:flex;
    justify-content: center;
    
  }
  .mc-word-container{
    width:100%;
    padding: 5px;
  }
  .mc-word-info{
    position:absolute;
    width:100%;
    bottom:40%;
    height: 10%;
    align-content: center;
    text-align: center;
  
  }
  .mc-buttons{
    
    display:flex;
    flex-wrap:wrap;
    gap:5px;
    position:absolute;
    width:100%;
    height: 40%;
    padding: 10px;
    padding-left:30px;
    padding-right:30px;
    left:0;
    bottom:0;
  }
  
  .mc-image-container {
    margin-top: 10px;
    top:0;
    position:absolute;
    width:100%;
    justify-content:center;
    height: 60%;
    text-align: center;
  }

  .mc-image-container img{
    height: 80%;
  }
  .mc-image{
     width:100%;
  }
  



.message-display-mc {
  position: absolute;
  top: 10px; /* Adjust the distance from the top as needed */
  right: 10px; /* Adjust the distance from the right as needed */
  background-color: white;
  padding: 10px; /* Add padding for better readability */
  border: 1px solid #ccc; /* Optional: Add a border for better visibility */
  border-radius: 5px; /* Optional: Add rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
  z-index: 1000; /* Ensure it is above other elements */
  font-family: Arial, sans-serif; /* Optional: Set a font family */
  font-size: 50px; /* Optional: Set a font size */
  color: #333; /* Optional: Set the text color */
}
