/* 
  .word-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 10px; 
    margin-top: 100px; 
    justify-content: flex-end;
  }
  
  .word-button {
    height: 50px; 
    margin-left: 250px;
  }
   */


   .container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
  }
  
  .word-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-gap: 10px; /* Gap between buttons */
    margin-top: 75px; /* Add margin to the top */
    justify-content: flex-end; /* Align buttons to the right */
  }
  
  .word-button {
    height: 50px; /* Set the height of each button */
    margin-left: 250px; /* Add margin to the left */
    margin-right: 50px; /* Add margin to the right */
    text-align: center; /* Center the text horizontally */
    padding: 10px; /* Add padding around the text */
  }
  


#wordImage1 {
    position: absolute;
    height: 75%;
    top: -20%;
    left: 60%;
    /* transform: translateX(100px);  */
    display: flex;
    justify-content: center;
  }
  
  .message-display {
    position: absolute;
    top: 20px; /* Adjust the top position as needed */
    right: -400px; /* Adjust the right position as needed */
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 10px; /* Add padding around the text */
    border-radius: 5px; /* Add rounded corners */
    font-size: 50px; /* Adjust the font size as needed */
  }
  