#combatBackground {
    font-family: 'Popins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-fond-smoothing: grayscale;
    display: flex;
    background-image: url('../../assets/BkgrTest.png'); 
    background-position: center; 
    background-repeat: no-repeat; 
    position: absolute;
   
    width: 100%;
    height: auto;
    
    background-size: cover;
    font-family: 'roboto', sans-serif;
  } 
  #goToTypeButton{
    position: absolute;
    width: 10%;
    right:0;
    bottom:0;

  } 

  
  .Sprite {
    display:flex;
    position:absolute;
    width: 600px; /* Width of each frame */
    height: 600px; /* Height of each frame */
    transform:scale(.5);
    bottom: -50px;
    left: -100px;
    overflow: hidden;
 }

.catHitSS{
    animation: playHIT 1s steps(4) normal forwards;
}
  @keyframes playHIT {
    from {
      transform: translate3d(0px,0,0);
    }
    to {
      transform: translate3d(-100%,0,0); /* Total width of sprite sheet (100px * 4 frames) */
    }
 }
.catSS{
    animation: playSprite 1s steps(4) infinite;
}
  @keyframes playSprite {
    from {
      transform: translate3d(0px,0,0);
    }
    to {
      transform: translate3d(-100%,0,0); /* Total width of sprite sheet (100px * 4 frames) */
    }
  }