

.container{
    top:0px;
    left: 0px;
  
    position: absolute;
    border-style: solid;
    border-color: rgb(94, 166, 229);
    border-width: 3px;

    width:100%;
    height:100%;
    display:flex;
}
 
#artistbg{
    position:absolute;
    width: 100%;
    height: 100vh
}
#learnBG{
    border-style: solid;
    border-color: rgb(226, 56, 164);
    border-width: 3px;
}
.learn-content{
    position:relative;
    border-style: solid;
    border-color: aliceblue;
    border-width: 3px;

    width:50vw;
    height:85vh;

    display:flex;
    justify-content: center;
}
#npcimg{
    position:absolute;
    border-style: solid;
    border-color: rgb(28, 231, 167);
    border-width: 3px;
    width:38vw;
    display:flex;
    left: 10%;
    align-self: flex-end;
    justify-self: flex-end;
    
}
#npcTextbox{
    position: absolute;
    border-style: solid;
    border-color: rgb(231, 109, 28);
    border-width: 3px;
    width: 40vw;
    
}

.npc-content{
    padding-top: 5px;
    position:relative;
    border-style: solid;
    border-color: rgb(101, 44, 255);
    border-width: 3px;

    width:60vw;

    display:flex;
    justify-content: flex-start;


}
#easelimg{
    position:absolute;
    height:100%;
    border-style: solid;
    border-color: rgb(69, 181, 112);
    border-width: 3px;  
    left:90%

}