

.container{
    top:0px;
    left: 0px;
  
    position: absolute;
    
    width:100%;
    height:100%;
    display:flex;
}
 
#artistbg{
    position:absolute;
    width: 100%;
    height: 100vh
}

.learn-content{
    position:relative;
   

    width:50vw;
    height:85vh;

    display:flex;
    justify-content: center;
}
#npcimg{
    
    position:absolute;
    
    width:38vw;
    display:flex;
    left: 10%;
    align-self: flex-end;
    justify-self: flex-end;
    
}
#npcTextbox{
    position: absolute;
    
    width: 40vw;
    
}

.npc-content{
    padding-top: 5px;
    position:relative;
    width:60vw;
    display:flex;
    justify-content: flex-start;


}
#easelimg{
    position:absolute;
    height:100%;
    
    left:84%
    

}

.textdiv{
    position:absolute;
    
    width: 100%;
    height: 15vh;

    margin-top: 85vh;
    padding-top:5px;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 5px;

    background-color: rgba(255, 215, 177, 0.4);
    
}

input.learnInputBox{
    height: 70%;
    background-color: antiquewhite;
    border-color: rgb(239, 202, 157);
    border-radius:3px;
    border-style: solid;
    padding-left: 10px;
}