

.container{
    top:0px;
    left: 0px;
  
    position: absolute;
    
    width:100%;
    height:100%;
    display:flex;
    overflow: hidden;
}


#artistbg{
    position:absolute;
    width: 100%;
    height: 100vh
}

.learn-content{
    position:relative;
   

    width:50vw;
    height:85vh;

    display:flex;
    justify-content: center;
}




.npc-content{
    position:relative;
    width:60vw;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
align-items: flex-start;    
    
}
.textboxWrapper p{
    font-size: 25px; /* Example font size */
    font-family: Helvetica, sans-serif; /* Example font family */
    /* Add other styles as needed */
    color: black; /* Example text color */

}
.textboxWrapper{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 50px;
    z-index: 1;
    background-image: url('../../assets/artist-assets/ArtistTextbox.png'); 
    background-size: 100% 100%; 
    position: static;
   
    width: 40vw;
    display:inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-basis:150px;
    flex-grow:.5;
}


.npcWrapper{
    width: 40vw;

    flex-shrink:.5;
    position: static;
    height:50vw;
    min-height: 300px;
    
}
.npcWrapper img{
    height:100%;
}
 

/* .npc-content img {
    position: absolute;
    top: 0;
    left: 0;
} */


/*
.npcTextBox{
    border-style: solid;
    position:absolute;
    z-index: 1;
    text-align: center;    
    
    padding: 2%;
    font-size: 25px; 
    font-family: Helvetica, sans-serif;
    color: rgb(45, 37, 39); 
}*/




#easelimg{
    position:absolute;
    height:100%;
    
    right:0px;

}

.textdiv{
    position:absolute;
    
    width: 100%;
    height: 15vh;

    margin-top: 85vh;
    padding-top:20px;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 5px;

    background-color: rgba(255, 215, 177, 0.4);
    
}

input.learnInputBox{
    height: 70%;
    background-color: antiquewhite;
    border-color: rgb(239, 202, 157);
    border-radius:3px;
    border-style: solid;
    padding-left: 10px;
}


#PracticeSeenWordsBtn{
    position: absolute;
    bottom: 20%;
    width: 15vw;
    left: 55%;
}

#BothBtn{
    position: absolute;
    bottom: 20%;
    width: 15vw;
    left:75%;
}
#LearnNewWordsBtn{
    position: absolute;
    bottom: 20%;
    width: 15vw;
    left:35%;
}

#nextbutton {
    position: absolute;
    
    width: 10vw;

    top: 90%;
    left: 80%;
}

#wordbutton {
    position: absolute;
    
    width: 10vw;

    top: 90%;
    left: 23%;
}

#previouswordbutton {
    position: absolute;
    
    width: 10vw;

    top: 90%;
    left: 12%;
}

#enterbutton {
    position: absolute;
    
    width: 10vw;

    top: 89%;
    left: 77%;
}


#goToMapButton {
    position: absolute;
    
    width: 10vw;

    top: 90%;
    left: 10%;
}



.words-category {
    position: relative;
    width: 50vw;
    height: 85vh;
    display: flex;
    justify-content: center;
}


.learned-words {
    position: absolute;
    bottom: 5vh; /* Adjust this value to move the section up or down */
    z-index: 1; /* Ensure the words are above the background */
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(45, 37, 39); /* Set the text color */
}


/* .learned-words {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black; 
} */

.learned-words ul {
    list-style-type: none;
    padding: 0;
}

.learned-words ul li {
    margin: 5px;
}



#colorImage{
    position:absolute;
    height: 50%;
    /* height:30vh; */
    top: 7%;

    display:flex;
    justify-content: center;
}