

.container{
    top:0px;
    left: 0px;
  
    position: absolute;
    
    width:100%;
    height:100%;
    display:flex;
}
 
#artistbg{
    position:absolute;
    width: 100%;
    height: 100vh
}

.learn-content{
    position:relative;
   

    width:50vw;
    height:85vh;

    display:flex;
    justify-content: center;
}
#npcimg{ 
    
    position:absolute;
    
    width:38vw;
    display:flex;
    left: 10%;
    align-self: flex-end;
    justify-self: flex-end;
    
}
#npcTextbox{
    position: absolute;
    
    width: 40vw;
    
}

.npc-content{
    padding-top: 5px;
    position:relative;
    width:60vw;
    display:flex;
    justify-content: flex-start;
    


}


/* .npc-content img {
    position: absolute;
    top: 0;
    left: 0;
} */


.npc-content p {
    /* Position the text */
    position: relative;
    z-index: 1;

    top: 56%; /* Example top position */
    left: 35%; /* Example left position */
    transform: translate(-50%, -50%); /* Center the text */
    
    
    /* Set font size and family */
    font-size: 30px; /* Example font size */
    font-family: Helvetica, sans-serif; /* Example font family */
    
    /* Add other styles as needed */
    color: black; /* Example text color */
}

#easelimg{
    position:absolute;
    height:100%;
    
    right:0px;
    

}

.textdiv{
    position:absolute;
    
    width: 100%;
    height: 15vh;

    margin-top: 85vh;
    padding-top:5px;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 5px;

    background-color: rgba(255, 215, 177, 0.4);
    
}

input.learnInputBox{
    height: 70%;
    background-color: antiquewhite;
    border-color: rgb(239, 202, 157);
    border-radius:3px;
    border-style: solid;
    padding-left: 10px;
}


#nextbutton {
    /* width: 100%; 
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; */

    position: absolute;
    
    width: 10vw;

    top: 90%;
    left: 80%;
}
