#marketnpcimg{ 
    
    position:absolute;
    
    width:38vw;
    display:flex;
    left: 20%;
    align-self: flex-end;
    justify-self: flex-end;
}




#foodImage{
    position:absolute;
    height: 50%;
    /* height:30vh; */
    top: 7%;

    display:flex;
    justify-content: center;
}
