.combatbackground {
    top:0;
    left:0;

    font-family: 'Popins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-fond-smoothing: grayscale;
    display: flex;
    background-image: url('../../assets/BkgrTest.png'); 
    background-position: center; 
    background-repeat: no-repeat; 
    position: absolute;
   
    width: 100%;
    height: 100%;;
    
    background-size: cover;
    font-family: 'roboto', sans-serif;
    color:rgb(50, 38, 38);
    display:flex;
    justify-content: center;
  } 

  .combatbackground h1{
    position:absolute;
    top: 20%;
    height: 10%;
    font-size: 50px;
  }

  .combatbackground p{
    position:absolute;
    top: 30%;
    height: 10%;
    font-size: 25px;
  }

  .outskirts-buttons {
    background-color: rgba(250, 235, 215, 0.222);
    top:40%;
    display:flex;
    align-content:center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
    height:30%;
    position:absolute;
    padding: 10px;
    
  }

  .outskirts-buttons button{
    justify-content: space-around;
    max-height: 50%;
    min-height: 10%;
    max-width: 35%;
    margin:5px;

  }

